:root {
  --color-primary: #318FC3;
  --color-secondary: #f5f5f2;
  --color-tertiary: #999;
}

.container {
  background: var(--color-secondary);
  border: 2px dashed #999;
  padding: 40px 10px;

  /* Flexbox */
}

.item {
  background: var(--color-primary);
  margin: 20px;
  height: 100px;
  width: 100px;
}
